{% extends 'base.html.twig' %}

{% block body %}
    <body>
        <div id="hot">
            <div class="box">
                <div class="container">
                    <div class="col-md-12">
                        <h2>Les offres du weekend</h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="product-slider">
                    <div class="item">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="{{ path('residence_new') }}">
                                            <img src="{{ asset('img/img/product1.jpg') }}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="text">
                                <h3><a href="detail.html">Fur coat with very but very very long name</a></h3>
                                <p class="price">$143.00</p>
                            </div>
                            <!-- /.text -->
                            <div class="ribbon sale">
                                <div class="theribbon">SALE</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon gift">
                                <div class="theribbon">GIFT</div>
                                <div class="ribbon-background"></div>
                            </div>
                            </div>
                            <!-- /.product -->
                    </div>
                    <div class="item">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="{{ path('residence_new') }}">
                                            <img src="{{ asset('img/img/product1.jpg') }}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="text">
                                <h3><a href="detail.html">Fur coat with very but very very long name</a></h3>
                                <p class="price">$143.00</p>
                            </div>
                            <!-- /.text -->
                            <div class="ribbon sale">
                                <div class="theribbon">SALE</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon gift">
                                <div class="theribbon">GIFT</div>
                                <div class="ribbon-background"></div>
                            </div>
                        </div>
                        <!-- /.product -->
                    </div>
                    <div class="item">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="{{ path('residence_new') }}">
                                            <img src="{{ asset('img/img/product1.jpg') }}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="text">
                                <h3><a href="detail.html">Fur coat with very but very very long name</a></h3>
                                <p class="price">$143.00</p>
                            </div>
                            <!-- /.text -->
                            <div class="ribbon sale">
                                <div class="theribbon">SALE</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon gift">
                                <div class="theribbon">GIFT</div>
                                <div class="ribbon-background"></div>
                            </div>
                        </div>
                        <!-- /.product -->
                    </div>
                    <div class="item">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="{{ path('residence_new') }}">
                                            <img src="{{ asset('img/img/product1.jpg') }}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="text">
                                <h3><a href="detail.html">Fur coat with very but very very long name</a></h3>
                                <p class="price">$143.00</p>
                            </div>
                            <!-- /.text -->
                            <div class="ribbon sale">
                                <div class="theribbon">SALE</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon gift">
                                <div class="theribbon">GIFT</div>
                                <div class="ribbon-background"></div>
                            </div>
                        </div>
                        <!-- /.product -->
                    </div>
                    <div class="item">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="{{ path('residence_new') }}">
                                            <img src="{{ asset('img/img/product1.jpg') }}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="text">
                                <h3><a href="detail.html">Fur coat with very but very very long name</a></h3>
                                <p class="price">$143.00</p>
                            </div>
                            <!-- /.text -->
                            <div class="ribbon sale">
                                <div class="theribbon">SALE</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon gift">
                                <div class="theribbon">GIFT</div>
                                <div class="ribbon-background"></div>
                            </div>
                        </div>
                        <!-- /.product -->
                    </div>
                    <div class="item">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="{{ path('residence_new') }}">
                                            <img src="{{ asset('img/img/product1.jpg') }}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="text">
                                <h3><a href="detail.html">Fur coat with very but very very long name</a></h3>
                                <p class="price">$143.00</p>
                            </div>
                            <!-- /.text -->
                            <div class="ribbon sale">
                                <div class="theribbon">SALE</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon gift">
                                <div class="theribbon">GIFT</div>
                                <div class="ribbon-background"></div>
                            </div>
                        </div>
                        <!-- /.product -->
                    </div>
                    <div class="item">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="{{ path('residence_new') }}">
                                            <img src="{{ asset('img/img/product1.jpg') }}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="text">
                                <h3><a href="detail.html">Fur coat with very but very very long name</a></h3>
                                <p class="price">$143.00</p>
                            </div>
                            <!-- /.text -->
                            <div class="ribbon sale">
                                <div class="theribbon">SALE</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon gift">
                                <div class="theribbon">GIFT</div>
                                <div class="ribbon-background"></div>
                            </div>
                        </div>
                        <!-- /.product -->
                    </div>
                    <div class="item">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="{{ path('residence_new') }}">
                                            <img src="{{ asset('img/img/product1.jpg') }}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="text">
                                <h3><a href="detail.html">Fur coat with very but very very long name</a></h3>
                                <p class="price">$143.00</p>
                            </div>
                            <!-- /.text -->
                            <div class="ribbon sale">
                                <div class="theribbon">SALE</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon gift">
                                <div class="theribbon">GIFT</div>
                                <div class="ribbon-background"></div>
                            </div>
                        </div>
                        <!-- /.product -->
                    </div>
                    <div class="item">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a href="{{ path('residence_new') }}">
                                            <img src="{{ asset('img/img/product1.jpg') }}" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="text">
                                <h3><a href="detail.html">Fur coat with very but very very long name</a></h3>
                                <p class="price">$143.00</p>
                            </div>
                            <!-- /.text -->
                            <div class="ribbon sale">
                                <div class="theribbon">SALE</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

                            <div class="ribbon gift">
                                <div class="theribbon">GIFT</div>
                                <div class="ribbon-background"></div>
                            </div>
                        </div>
                        <!-- /.product -->
                    </div>
                    {#<table>#}
                        {#<thead>#}
                        {#<tr>#}
                            {#<th>Id</th>#}
                            {#<th>Nomresidence</th>#}
                            {#<th>Adresseresidence</th>#}
                            {#<th>Telephoneresidence</th>#}
                            {#<th>Actions</th>#}
                        {#</tr>#}
                        {#</thead>#}
                        {#<tbody>#}
                        {#{% for residence in residences %}#}
                            {#<tr>#}
                                {#<td><a href="{{ path('residence_show', { 'id': residence.id }) }}">{{ residence.id }}</a></td>#}
                                {#<td>{{ residence.nomResidence }}</td>#}
                                {#<td>{{ residence.adresseResidence }}</td>#}
                                {#<td>{{ residence.telephoneResidence }}</td>#}
                                {#<td>#}
                                    {#<ul>#}
                                        {#<li>#}
                                            {#<a href="{{ path('residence_show', { 'id': residence.id }) }}">show</a>#}
                                        {#</li>#}
                                        {#<li>#}
                                            {#<a href="{{ path('residence_edit', { 'id': residence.id }) }}">edit</a>#}
                                        {#</li>#}
                                    {#</ul>#}
                                {#</td>#}
                            {#</tr>#}
                        {#{% endfor %}#}
                        {#</tbody>#}
                    {#</table>#}

                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('residence_new') }}">Create a new residence</a>#}
                        {#</li>#}
                    {#</ul>#}
                </div>

            </div>
        </div>
    </body>

    {#<body>#}
    {#<div id="hot">#}

        {#<div class="box">#}
            {#<div class="container">#}
                {#<div class="col-md-12">#}
                    {#<h2>Les offres du weekend</h2>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

        {#<div class="container">#}
            {#<div class="product-slider">#}
                {#<div class="item">#}
                    {#<div class="product">#}
                        {#<div class="flip-container">#}
                            {#<div class="flipper">#}
                                {#<div class="front">#}
                                    {#<a href="{{ path('residence_new') }}">#}
                                        {#<img src="{{ asset('img/img/product1.jpg') }}" alt="" class="img-responsive">#}
                                    {#</a>#}
                                {#</div>#}

                            {#</div>#}
                        {#</div>#}
                        {#<div class="text">#}
                            {#<h3><a href="detail.html">Fur coat with very but very very long name</a></h3>#}
                            {#<p class="price">$143.00</p>#}
                        {#</div>#}
                        {#<!-- /.text -->#}
                        {#<div class="ribbon sale">#}
                            {#<div class="theribbon">SALE</div>#}
                            {#<div class="ribbon-background"></div>#}
                        {#</div>#}
                        {#<!-- /.ribbon -->#}

                        {#<div class="ribbon new">#}
                            {#<div class="theribbon">NEW</div>#}
                            {#<div class="ribbon-background"></div>#}
                        {#</div>#}
                        {#<!-- /.ribbon -->#}

                        {#<div class="ribbon gift">#}
                            {#<div class="theribbon">GIFT</div>#}
                            {#<div class="ribbon-background"></div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<!-- /.product -->#}
                {#</div>#}

                {#<div class="item">#}
                    {#<div class="product">#}
                        {#<div class="flip-container">#}
                            {#<div class="flipper">#}
                                {#<div class="front">#}
                                    {#<a href="{{ path('residence_detail') }}">#}
                                        {#<img src="{{ asset('img/img/product2.jpg') }}" alt="" class="img-responsive">#}
                                    {#</a>#}
                                {#</div>#}

                            {#</div>#}
                        {#</div>#}

                        {#<div class="text">#}
                            {#<h3><a href="{{ path('residence_detail') }}">White Blouse Armani</a></h3>#}
                            {#<p class="price"><del>$280</del> $143.00</p>#}
                        {#</div>#}
                        {#<!-- /.text -->#}

                        {#<div class="ribbon sale">#}
                            {#<div class="theribbon">SALE</div>#}
                            {#<div class="ribbon-background"></div>#}
                        {#</div>#}
                        {#<!-- /.ribbon -->#}

                        {#<div class="ribbon new">#}
                            {#<div class="theribbon">NEW</div>#}
                            {#<div class="ribbon-background"></div>#}
                        {#</div>#}
                        {#<!-- /.ribbon -->#}

                        {#<div class="ribbon gift">#}
                            {#<div class="theribbon">GIFT</div>#}
                            {#<div class="ribbon-background"></div>#}
                        {#</div>#}
                        {#<!-- /.ribbon -->#}
                    {#</div>#}
                    {#<!-- /.product -->#}
                {#</div>#}

                {#<div class="item">#}
                    {#<div class="product">#}
                        {#<div class="flip-container">#}
                            {#<div class="flipper">#}
                                {#<div class="front">#}
                                    {#<a href="{{ path('residence_detail') }}">#}
                                        {#<img src="{{ asset('img/img/product3.jpg') }}" alt="" class="img-responsive">#}
                                    {#</a>#}
                                {#</div>#}

                            {#</div>#}
                        {#</div>#}
                        {#<a href="{{ path('residence_detail') }}" class="invisible">#}
                            {#<img src="img/product3.jpg" alt="" class="img-responsive">#}
                        {#</a>#}
                        {#<div class="text">#}
                            {#<h3><a href="{{ path('residence_detail') }}">Black Blouse Versace</a></h3>#}
                            {#<p class="price">$143.00</p>#}
                        {#</div>#}
                        {#<!-- /.text -->#}
                    {#</div>#}
                    {#<!-- /.product -->#}
                {#</div>#}

                {#<div class="item">#}
                    {#<div class="product">#}
                        {#<div class="flip-container">#}
                            {#<div class="flipper">#}
                                {#<div class="front">#}
                                    {#<a href="{{ path('residence_detail') }}">#}
                                        {#<img src="{{ asset('img/img/product2.jpg') }}" alt="" class="img-responsive">#}
                                    {#</a>#}
                                {#</div>#}

                            {#</div>#}
                        {#</div>#}
                        {#<a href="detail.html" class="invisible">#}
                            {#<img src="img/product3.jpg" alt="" class="img-responsive">#}
                        {#</a>#}
                        {#<div class="text">#}
                            {#<h3><a href="detail.html">Black Blouse Versace</a></h3>#}
                            {#<p class="price">$143.00</p>#}
                        {#</div>#}
                        {#<!-- /.text -->#}
                    {#</div>#}
                    {#<!-- /.product -->#}
                {#</div>#}


                {#<div class="item">#}
                    {#<div class="product">#}
                        {#<div class="flip-container">#}
                            {#<div class="flipper">#}
                                {#<div class="front">#}
                                    {#<a href="detail.html">#}
                                        {#<img src="{{ asset('img/img/product2.jpg') }}" alt="" class="img-responsive">#}
                                    {#</a>#}
                                {#</div>#}

                            {#</div>#}
                        {#</div>#}
                        {#<a href="detail.html" class="invisible">#}
                            {#<img src="img/product2.jpg" alt="" class="img-responsive">#}
                        {#</a>#}
                        {#<div class="text">#}
                            {#<h3><a href="detail.html">White Blouse Armani</a></h3>#}
                            {#<p class="price"><del>$280</del> $143.00</p>#}
                        {#</div>#}
                        {#<!-- /.text -->#}

                        {#<div class="ribbon sale">#}
                            {#<div class="theribbon">SALE</div>#}
                            {#<div class="ribbon-background"></div>#}
                        {#</div>#}
                        {#<!-- /.ribbon -->#}

                        {#<div class="ribbon new">#}
                            {#<div class="theribbon">NEW</div>#}
                            {#<div class="ribbon-background"></div>#}
                        {#</div>#}
                        {#<!-- /.ribbon -->#}

                        {#<div class="ribbon gift">#}
                            {#<div class="theribbon">GIFT</div>#}
                            {#<div class="ribbon-background"></div>#}
                        {#</div>#}
                        {#<!-- /.ribbon -->#}
                    {#</div>#}
                    {#<!-- /.product -->#}
                {#</div>#}

                {#<div class="item">#}
                    {#<div class="product">#}
                        {#<div class="flip-container">#}
                            {#<div class="flipper">#}
                                {#<div class="front">#}
                                    {#<a href="detail.html">#}
                                        {#<img src="{{ asset('img/img/product3.jpg') }}" alt="" class="img-responsive">#}
                                    {#</a>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                        {#<a href="detail.html" class="invisible">#}
                            {#<img src="img/product3.jpg" alt="" class="img-responsive">#}
                        {#</a>#}
                        {#<div class="text">#}
                            {#<h3><a href="detail.html">Black Blouse Versace</a></h3>#}
                            {#<p class="price">$143.00</p>#}
                        {#</div>#}
                        {#<!-- /.text -->#}
                    {#</div>#}
                    {#<!-- /.product -->#}
                {#</div>#}

            {#</div>#}
            {#<!-- /.product-slider -->#}
        {#</div>#}
        {#<!-- /.container -->#}

    {#</div>#}
    {#</body>#}

{% endblock %}
